[bot]
api_id=111610
api_hash=1111d43fb6014f0b74fbea1781442222
bot_token=1111322549:AAFGwPy_2gUCfy9QL5BvMn605Dtd72wwwww
ADMIN_ID=111111333

[db]
MARIADB_HOST=db
MARIADB_USER=myuser
MARIADB_PASSWORD=mypass
MARIADB_DATABASE=mydb
MARIADB_RANDOM_ROOT_PASSWORD=true